@charset "UTF-8";
body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: -8px;
  top: -8px;
}

#left-container {
  position: absolute;
  width: 106px;
  height: 89vmax;
  left: 0px;
  top: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d3eb8b7), to(rgba(135, 153, 220, 0))), url("../styles/img/chrissa-giannakoudi-fGLRd0B_39M-unsplash.jpg");
  background: linear-gradient(180deg, #1d3eb8b7 0%, rgba(135, 153, 220, 0) 100%), url("../styles/img/chrissa-giannakoudi-fGLRd0B_39M-unsplash.jpg");
  -webkit-box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.25);
}

#left-container > #icon-container {
  width: 50px;
  margin: 27px;
  margin-top: 63px;
}

#left-container > #icon-container > a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12.6px;
}

#left-container > #icon-container > span {
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12.5px;
  margin: 0px 0px 5px 4px;
}

#left-container > #hebe-Sub-1 {
  position: absolute;
  left: -1.81%;
  right: 84.79%;
  top: 59.08%;
  bottom: 34.96%;
  font: normal bold 5em/46px Roboto;
  letter-spacing: 3.5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #FFFFFF;
}

#left-container > #hebe-Sub-2 {
  position: absolute;
  left: 0%;
  right: 75.1%;
  top: 60.84%;
  bottom: 33.2%;
  font: normal bold 5em/46px Roboto;
  letter-spacing: 3.5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #DFDFDF;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 106px;
}

#container > #bar {
  position: absolute;
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container > #bar > ul li {
  font-family: Roboto;
  font-size: 13pt;
  display: inline-block;
  list-style: none;
  margin: 0 35px;
}

#container > #bar > ul li > a {
  text-decoration: none;
  color: #37447E;
  position: relative;
}

#container > #bar > ul li:hover {
  font-weight: bold;
  color: #6e88fc;
}

#container > #bar > h1 {
  width: 250px;
  color: #37447E;
  font: normal 1000 4.5em/46px Roboto;
  letter-spacing: 3.5px;
  margin-left: 94px;
  margin-right: 10px;
}

#container > #bar > #search-bar {
  position: absolute;
  width: 300px;
  height: 45px;
  background: #869CFF;
  border-radius: 3em;
  right: 200px;
}

#container > #bar > #search-bar > #search-text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background: #ff000000;
  border: #ffffff00;
  font-size: 17px;
  margin: 2px 0px 0px 10px;
}

#container > #bar > #search-bar > #search-text::-webkit-input-placeholder {
  color: white;
}

#container > #bar > #search-bar > #search-text:-ms-input-placeholder {
  color: white;
}

#container > #bar > #search-bar > #search-text::-ms-input-placeholder {
  color: white;
}

#container > #bar > #search-bar > #search-text::placeholder {
  color: white;
}

#container > #main-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#container > #main-container > #Bookmark-container {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 400px  30px  30px  70px;
}

#container > #main-container > #Bookmark-container > #heart-icon {
  position: relative;
  width: 18px;
  height: 18px;
  background: #869CFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -42px;
  left: 8px;
}

#container > #main-container > #Bookmark-container > #heart-icon::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  background: #869CFF;
  left: -50%;
}

#container > #main-container > #Bookmark-container > #heart-icon::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  background: #869CFF;
  top: -50%;
}

#container > #main-container > #Bookmark-container > h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 45px;
}

#container > #main-container > #Bookmark-container > #Bookmark-content {
  position: absolute;
  width: 83%;
  height: 100%;
  margin-top: 54px;
  background: #b3b3b3;
}

#container > #main-container > #update-container {
  position: absolute;
  width: 100%;
  height: 300px;
  margin: 400px  30px  30px  70px;
  top: 600px;
}

#container > #main-container > #update-container > #heart-icon {
  position: relative;
  width: 18px;
  height: 18px;
  background: #869CFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -42px;
  left: 8px;
}

#container > #main-container > #update-container > #heart-icon::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  background: #869CFF;
  left: -50%;
}

#container > #main-container > #update-container > #heart-icon::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 50%;
  background: #869CFF;
  top: -50%;
}

#container > #main-container > #update-container > h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 45px;
}

#container > #main-container > #update-container > #update-content {
  position: absolute;
  width: 83%;
  height: 100%;
  margin-top: 54px;
  background: #b3b3b3;
}

#container > #main-container > #hebe-Sub-3 {
  position: absolute;
  left: 10;
  right: -100px;
  top: 250px;
  bottom: 10;
  font: normal bold 5em/46px Roboto;
  letter-spacing: 3.5px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #37447E;
  position: fixed;
}

#container > #chat-container {
  position: fixed;
  width: 95px;
  height: 95px;
  background-color: #37447E;
  border-radius: 100%;
  right: 40px;
  bottom: 40px;
  -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.185);
          box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.185);
}

@media (min-width: 1101px) and (max-width: 1545px) {
  /* 노트북 */
  #left-container {
    height: 115vmax;
  }
}

@media (min-width: 901px) and (max-width: 1100px) {
  /* 노트북 */
  #left-container {
    height: 100%;
  }
  #search-bar {
    display: none;
  }
  #Bookmark-content {
    width: 78%;
    margin-top: 50px;
    background: #b3b3b3;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  /* 태블릿 */
  .navbar_ul {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  /* 핸드폰 */
  #chat-container {
    display: none;
  }
  #left-container {
    display: none;
  }
  .navbar_ul {
    display: none;
  }
}
